header {
    background-color: #c5c2ff;
    display: flex;
    margin-bottom: 30px; 
}
header img { 
    margin: 10px;
}
header h1 {
    color: #000;
    text-align: center;
    font-family: Italianno;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;   
    margin: 0;
}
a {
    text-decoration: none;
    color: black;
}
.header {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header ul {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 1rem;
    flex-basis: 100%;
    margin: 0;
}
header ul li {
    margin: 0 20px;
}
header ul li a {
    text-decoration: none;
    color: black;
}
header ul li a:hover {
    background-color: #a7a2ff;
}
body {
    margin: 0;
}
.AboutMe {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
}
.AboutMe img{
    margin: 1rem;
    margin-left: 10px;
}
.Story {
    background-color: #f0efff;
    border-radius: 23px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    margin-right: 10px;
    justify-content: space-around;
    box-shadow: 0px 0px 10px 0 rgb(97, 18, 225);
}
.MyStory {
    color: #000;
    font-family: Merriweather;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding: 10px;
    max-width: 30ch;
    text-indent: 20px;
}
.Skills {
    border-radius: 30px;
    background: #a7a2ff;
    margin: 0 10px 20px 10px;
    padding: 5px 0 10px 0;
}
h3 {
    color: #000;
    text-align: center;
    font-family: Italianno;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 10px;
}
.Icons {
    margin: 10px;
    text-align: center;
}
.First {
    margin-right: 10px;
}
.MoreCenter {
    display: flex;
}
.MoreRight {
    display: flex;
    flex-direction: column;
    margin-right: 5rem;
    justify-content: space-evenly;
}
.Exp {
    margin-top: 20px;
}
.Soc {
    text-align: center;
}
.Soc svg {
    margin: 0 1rem;
}
.Soc a {
    text-decoration: none;
}
.Res {
    text-align: center;
}
.big {
    color: #000;
    text-align: center;
    font-family: Merriweather;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin: 10px 0;
}
.small {
    color: #000;
    font-family: Merriweather;
    font-size: 14px;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    margin: 0 0 30px 0;
}
h2 {
    color: #000;
    text-align: center;
    font-family: Italianno;
    font-size: 128px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: linear-gradient(180deg, #9f9dcec9 18.75%, rgba(217, 217, 217, 0.05) 47.6%);
    margin: 0;
}
main img {
    box-shadow: 6px 8px 6px 0 rgba(0, 0, 0, 0.31);
    margin-bottom: 20px;
}
.images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 100px;
}
.FineArt {
    background-image: url("Photos/MaryBust.png");
    background-size: cover;
    background-position: center; 
}
.Photography {
    background-image: url("Photos/Lax-Background.png");
    background-size: cover;
    background-position: center; 
}
.Graphic {
    background-image: url("Photos/AliceInWonderland.png");
    background-size: cover;
    background-position: center; 
}
footer {
    display: flex;
    justify-content: space-between;
    align-content: center;
    background: #c5c2ff;
}
h4 {
    color: #000;
    text-align: center;
    font-family: Italianno;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    margin: 10px 20px 0 0;
}
footer p {
    color: #000;
    font-family: Merriweather;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 172.85%; 
    padding-left: 10px;
}
@media screen and (max-width: 950px) {
    .AboutMe {
        flex-direction: column;
        align-items: center;
    }
    .MoreRight {
        margin: 0 2rem;
    }
}
@media screen and (max-width: 1210px) {
     .MoreRight {
        flex-basis: 100%;
        flex-direction: row;
        margin: 0;
    }
}
@media screen and (max-width: 600px) {
    .Story {
        margin: 0 10px;
    }
    .MyStory {
        max-width: 20ch;
    }
    h2 {
        font-size: 100px;
    }
    header ul { 
        font-size: 12px;
    }
    .Icons {
    max-width: 200px;
    margin: auto;
    }
    .Icons svg {
        margin: 0;
    }
    h3 {
        margin: 5px 0;
    }
    .Exp {
        margin-right: 10px;
    }
    .big {
        font-size: 18px;
    }
}

.extra {
    font-size: 12px;
    font-style: italic;
}
.TitleLeft {
    text-align: left;
}
.TitleRight {
    text-align: right;
}
.Photo1 {
    display: flex;
    flex-direction: row;
    margin: 0 30px;
}
.Photo1Text {   
    text-align: left;
    flex-grow: 1;
}
.Photo1Text p {
    max-width: 32ch;
}
.Photo2 {
    display: flex;
    margin: 0 30px;
    justify-content: space-between;
}
.Photo2Text {   
    text-align: right;
    flex-grow: 1;
    max-width: 32ch;
}
.Behind2 {
    background-color: #c5c2ff;
    padding-top: 20px;
    margin-bottom: 20px;
}
.Photo1 img {
    min-width: 400px;
}


